{% extends "base.html" %}
{% block main_block %}
	
	<section class="container">
		<header>
			<code>
			<h3>
			Game Configuration
			</h3>
			</code>
		</header>
		<div class="container">
			<form class="form-horizontal" action="/save_configuration" method="post">
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-2 control-label"># Team Members </label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputEmail3" placeholder="Team Strenght" name="team_strength" value="5">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword3" class="col-sm-2 control-label">Overs</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="inputPassword3" placeholder="Overs" name="overs" value="5">
					</div>
				</div>
				<div class="form-group">
					<label class="radio-inline">
						<input type="radio" name="toss" id="inlineRadio1" value="head"> Head 
					</label>
					<label class="radio-inline">
						<input type="radio" name="toss" id="inlineRadio2" value="tail"> Tail
					</label>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Save & Toss </button>
					</div>
				</div>
			</form>
		</div>
	</section>
{% endblock %}