{% extends "base.html" %}
{% block main_block %}
	
	<section class="container">
		<header>
		<code>
			<h3>
			Play Ground
			</h3>
		</code>
		</header>
		<div class="table-responsive">
			<h4>
			Match Details
			</h4>
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>
							Your Team
						</th>
						<th>
							Opponent
						</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>	
		</div>
		<div class="container">
		</div>
	</section>
{% endblock %}