{% extends "base.html" %}
{% block main_block %}
	
	<section class="container">
		<header>
		<code>
			<h3>
			Match Details 
			</h3>
		</code>
		</header>
		{% if data.attributes.toss == data.attributes.toss_result %}
		    <div class="alert alert-success" role="alert"> <strong>Well done!</strong> You Just Won the Toss, Please get ready to bat. </div>
		{% else %}
		    <div class="alert alert-danger" role="alert"> <strong>Sorry!</strong> Its your fielding time. </div>
		{% endif %}
		<div class="table-responsive">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>
							Spec
						</th>
						<th>
							Value
						</th>
					</tr>
				</thead>
				<tbody>
					{% for key, value in data.attributes.iteritems() %}
					<tr>
						<td>
						{{ key }}
						</td>
						<td>
							{{ value }}
						</td>
					</tr>
    			{% endfor %}
				</tbody>
			</table>	
		</div>
		<div class="container">
			<a href="{{ data.url }}" type="button" class="btn btn-primary">
					Let's Start !
			</a>
		</div>
	</section>
{% endblock %}